---
// @ts-ignore
import Paper1 from "assets/paper1.pdf";
import Paper2 from "assets/paper2.pdf";
import Paper3 from "assets/paper3.pdf";
import Paper4 from "assets/paper4.pdf";
import Paper5 from "assets/paper5.pdf";
import Paper6 from "assets/paper6.pdf";
---
<div class="bg-[#f6a091] border-l-4 border-[#f16248] text-orange-700 p-4 mb-8 rounded-lg" role="alert">
    <p class="font-bold text-black">News!</p>
    <p class="text-black">Check out the latest updates and additions to our program below.</p>
</div>
<div class="mt-16 mb-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Program
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We are excited to be part of EuroVis 2025! Check out the program to find our workshop on the 2nd of June. For more details, visit the official program page: 
    <a href="https://www.eurovis2025.lu/for-attendees/program" class="text-blue-600 hover:underline" target="_blank" rel="noopener noreferrer">
        EuroVis 2025 Program
    </a>.
    </p>

    <p class="text-lg mt-4 text-slate-600">
        Our event will start at <strong>14:20</strong>—Don't miss it!

        <ul class="mt-4 list-disc list-inside text-slate-600 text-lg">
            <li><strong>14:20—14:45:</strong> Opening & Fast Forward Session</li>
            <li><strong>14:50—16:00:</strong> Hands-On Session #1</li>
            <hr class="border-dashed border-slate-300 my-4" />
            <li><strong>16:00—16:30:</strong> Coffee Break</li>
            <hr class="border-dashed border-slate-300 my-4" />
            <li><strong>16:30—17:55:</strong> Hands-On Session #2</li>
            <li><strong>18:00—18:20:</strong> Reflection & Closing</li>
        </ul>
    </p>  

    <div class="mt-16 sparkle-section"></div>
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-black">
            Vis-tastic Games Await!
        </h2>
        
        <p class="text-lg mt-4 text-slate-600">
            In this workshop, you can expect to find topics where visualization and games collide, uncovering playful ways to tell stories, learn interactively, and make sense of complex data. 
        </p>
        <p class="text-lg mt-4 text-slate-600">
            Below, are the papers accepted to the workshop and highlight the exciting topics and ideas you can expect to encounter during the event.
        </p>

        <ul class="mt-8 list-disc list-inside text-slate-600 text-lg">
            <li>
                <a href={Paper1} target="_blank"><span>🔗</span> <strong><em>BattleGraphs: Forge, Fortify, and Fight in the Network Arena</em></strong></a> 
                <br />
                <span class="text-slate-500">- H. Ehlers, D. Pahr, S. di Bartolomeo, C. Stoiber, and V. Filipov</span>
            </li>
            <li>
                <a href={Paper2} target="_blank"><span>🔗</span> <strong><em>Cards, Charts, and Strategy: A Game-Based Approach to Data Visualization for Patterns</em></strong></a> 
                <br />
                <span class="text-slate-500">- A. Boucher and C. Stoiber</span>
                <br />
                <a href="https://nightingaledvs.com/cards-charts-and-strategy/" target="_blank" class="text-[#f16248] hover:underline font-bold">👉 Read it on Nightingale Magazine!</a>
            </li>
            <li>
                <a href={Paper3} target="_blank"><span>🔗</span> <strong><em>Drawagram: A Game-Based Learning Approach to Teach Time-based Data Visualization and Visual Storytelling</em></strong></a> 
                <br />
                <span class="text-slate-500">- S. Plankensteiner and C. Stoiber</span>
                <br />
                <a href="https://nightingaledvs.com/drawagram-a-game/" target="_blank" class="text-[#f16248] hover:underline font-bold">👉 Read it on Nightingale Magazine!</a>
            </li>
            <li>
                <a href={Paper4} target="_blank"><span>🔗</span> <strong><em>Grasping Data Through Play: Exploring Co-Design Activities for Children's Engagement with Personal Data</em></strong></a> 
                <br />
                <span class="text-slate-500">- D. Perera, D. Kaufmann, A. Ramírez-Duque, A. Atabey, S. Brewster, C. Wilson, J. Vines, L. Plowman, U. Hinrichs, and A. Manches</span>
            </li>
            <li>
                <a href={Paper5} target="_blank"><span>🔗</span> <strong><em>Leveraging Popular Board Games to Teach Data Visualization</em></strong></a>
                <br />
                <span class="text-slate-500">- L. Amabili, M.E. Gröller, and R. G. Raidou</span>
            </li>
            </li>
            <li>
                <a href={Paper6} target="_blank"><span>🔗</span> <strong><em>Playing with Knowledge: Leveraging Visualization Games for Data Validation and Inspiration</em></strong></a> 
                <br />
                <span class="text-slate-500">- F. Becker, R. P. Warnking, and T. Blascheck</span>
            </li>
        </ul>
</div>
